* {
    background-color: beige
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    color: rgb(11, 11, 11);
}

/*NAVBAR*/

.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
  background: rgba(15, 20, 40, 0.95);
  border-bottom: 1px solid rgba(255,255,255,0.08);
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  color: #030303;
}

.logo {
  font-weight: 700;
  letter-spacing: 0.5px;
    border: 5px solid vainilla;
    width: 200px;
    border-radius: 20%;
}

.navlinks a {
  color: #2523a2;
  margin-left: 12px;
  font-size: 14px;
}
.navlinks a:hover { 
    text-decoration: underline; 
}

/*FORM*/

.form {
    background-color: #cedd00a8 
}

/* footer */
.footer { 
  border-top: 1px solid rgba(46, 22, 22, 0.08);
  padding: 18px 16px;
  text-align: center;
  color: #1f2020;
}

.footer-links a {
  color: #050505;
  margin: 0 8px;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover { 
    text-decoration: underline; 
}


/* cookie */

.cookie-banner {
  position: fixed;
  left: 16px;
  right: 16px;
  bottom: 16px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  border-radius: 14px;
  background: rgba(20, 26, 50, 0.95);
  border: 1px solid rgba(255,255,255,0.12);
   z-index: 1000;
}

.cookie-banner p {
  margin: 0;
  font-size: 14px;
  color: #cdd7ff;
}

.cookie-banner a { 
    color: #ffffff; 
}