* {
    background-color: #cedd00a8
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    color: rgb(11, 11, 11);
}




/* footer */
.footer { 
  border-top: 1px solid rgba(46, 22, 22, 0.08);
  padding: 18px 16px;
  text-align: center;
  color: #1f2020;
}

.footer-links a {
  color: #050505;
  margin: 0 8px;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover { 
    text-decoration: underline; 
}